# Зависимости
node_modules/
/dist
/coverage

# Логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Секреты (Критично важно!)
.env
.env.production
.env.local
*.pem
*.key

# ОС и IDE
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# NestJS / TypeScript
*.tsbuildinfo